<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/lightbox.css">
  <script type="text/javascript" src="../script/jquery-3.2.1.min.js"></script>
  <script src="../script/iroiro.js"></script>
</head>


  <img src="../img/title_rogo.png" alt="">
  <p class="sidebar_p">末期の作品集です。</p>
  <ul id="menu">
    <h2>MENU</h2>
    <li class="menubar"><a href="../top.html">トップ</a></li>
    <li class="menubar"><a href="../profile.html">自分について</a></li>
    <li class="menubar"><a href="../works.html">作品</a></li>
    <li class="menubar"><a href="../otoiawase.html">お問い合わせ</a></li>
  </ul>
  <p class="sidebar_p">CopyLight © MAKKI PORTFOLIO</p>
